@import url("./reset.css");

body {
  min-height: 100vh;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0.25fr 0.5fr 0.25fr;
  grid-template-areas: ". main .";
}

main {
  grid-area: main;
  place-self: center;
}

#data th, #data td {
  border: 1px solid black;
  padding: 5px 10px;
}

#data a ~ a {
  margin-left: 10px;
}